<?xml version="1.0"?>

<!-- Basic Qube config -->

<configuration>

  <appSettings>
    <add key="AppName" value="QubeWebsite"/>
    <add key="QubeRoot" value="~/qube"/>
    <add key="QubeSettings" value="RemoveWhitespace"/>
  </appSettings>

  <location path="qube">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <globalization uiCulture="es" culture="es-VE"/>
    <compilation debug="true" targetFramework="4.0" />
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Qube.Web.Core" namespace="Qube.Web.Core" tagPrefix="q"/>
        <add assembly="Qube.Web.UI" namespace="Qube.Web.UI" tagPrefix="q"/>
      </controls>
    </pages>
  </system.web>

</configuration>
