<?xml version="1.0"?>
<configuration>

    <system.web>
      <customErrors mode="Off"/>
      <globalization uiCulture="es" culture="es-VE" />
      <compilation debug="true" targetFramework="4.0" />
      <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="4.0">
        <controls>
          <add assembly="Qube.Web.Core" namespace="Qube.Web.Core" tagPrefix="q"/>
          <add assembly="Qube.Web.UI" namespace="Qube.Web.UI" tagPrefix="q"/>
        </controls>
      </pages>
    </system.web>

</configuration>
