.qube.form input[type=text],
.qube.form input[type=password],
.qube.form select,
.qube.form textarea
{
    border: 1px solid #d28ef8;
    border-radius: 2px;
}

.qube.form .button:visited {
    color: #fff;
}

.qube.form input[type=submit],
.qube.form .button
{
    border: 1px solid #994fc3;
    background: #994fc3;
    color: #fff;
}
.qube.form input[type=submit]:hover,
.qube.form .button:hover
{
    border: 1px solid #d28ef8;
    background: #fff;
    color: #d28ef8 !important;
}
.qube.form input[type=submit]:disabled
{
    border: 1px solid #ccc;
    background: #ccc;
    color: #999;
}

.qube.form .grid {
    border-collapse: initial !important;
    border: 1px solid #d28ef8;
    background: #fff;
    margin-bottom: 1em;
    border-radius: 3px;
}
.qube.form .grid th {
    color: #fff;
    background: #d28ef8;
    border-right: 1px solid #d28ef8 !important;
    border-bottom: 1px solid #d28ef8 !important;
}
.qube.form .grid td,
.qube.form .grid th {
    padding: .5em;
    border-bottom: 1px solid #dfb3f8;
    border-right: 1px solid #dfb3f8;
}
.qube.form tr td:last-child,
.qube.form tr th:last-child {
    border-right: 0 !important;
}
.qube.form .grid tr:last-child td {
    border-bottom: 0;
}

.qube.form .grid a {
    text-decoration: none;
    display: block;
    transition: all ease .25s;
}
.qube.form .grid a:hover {
    background: #d28ef8;
    color: #fff;
    text-decoration: none;
}